BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[0]" SITE "33" ;
LOCATE COMP "cdiv0[1]" SITE "27" ;
LOCATE COMP "cdiv0[2]" SITE "28" ;
LOCATE COMP "cdiv0[3]" SITE "25" ;
LOCATE COMP "cdiv0[4]" SITE "26" ;
LOCATE COMP "oscout0" SITE "41" ;
