BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "48" ;
LOCATE COMP "cdiv00[4]" SITE "10" ;
LOCATE COMP "cdiv00[3]" SITE "11" ;
LOCATE COMP "cdiv00[2]" SITE "12" ;
LOCATE COMP "cdiv00[1]" SITE "13" ;
LOCATE COMP "cdiv00[0]" SITE "14" ;
LOCATE COMP "reset0" SITE "4" ;
